@use "../../lib/functions/px-to-rem" as *;
@use "../../lib/placeholders/icon" as *;
@use "../../lib/placeholders/wrapper" as *;
@use "../../lib/placeholders/button" as *;
@use "../../lib/placeholders/buttons/theme-button" as *;
@use "../../lib/mixins/breakpoint" as *;
@use "../../lib/variables/breakpoint";
@use "../../lib/variables/color";
@use "../../lib/variables/font";
@use "../../lib/variables/z-index";
@use "../../lib/variables/transition";

.site-header {
  $block: &;

  overflow-x: clip;
  position: fixed;
  z-index: z-index.$site-header;
  top: calc(
    env(safe-area-inset-top, 0px) + var(--wordpress-admin-bar-height, 0px) +
      var(--site-pre-header-height)
  );
  left: env(safe-area-inset-left, 0px);
  width: calc(
    100% - env(safe-area-inset-left, 0px) - env(safe-area-inset-right, 0px)
  );
  height: var(--site-header-height);
  padding: var(--site-header-padding-vertical)
    var(--site-header-padding-horizontal);

  &.has-one-panel-active {
    //
  }

  &.is-fixed {
    #{$block}__wrapper {
      background-color: var(--site-header-background-color);
    }
  }

  &.has-burger-menu-active {
    #{$block}__wrapper {
      background-color: var(--site-header-background-color);
    }

    #{$block}__main-menu-wrapper {
      transform: translateY(0) rotateZ(0);
      opacity: 1;
      pointer-events: all;

      @include breakpoint(breakpoint.$header-panel-visibility) {
        transform: none;
      }
    }
  }

  &__anchor {
    position: absolute;
    top: px-to-rem(50px);
    left: 0;
    height: 1px;
    width: 1px;
    pointer-events: none;
  }

  &__wrapper {
    @extend %wrapper;

    --wrapper-padding-left: #{px-to-rem(10px)};
    --wrapper-padding-right: #{px-to-rem(10px)};

    transition-property: border-radius, background-color;
    transition-duration: transition.$duration-medium;
    transition-timing-function: transition.$timing-function-default;
    position: relative;
    gap: px-to-rem(10px);
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--site-header-background-color);

    @include breakpoint(breakpoint.$tablet) {
      gap: px-to-rem(30px);
    }

    @include breakpoint(breakpoint.$desktop) {
      --wrapper-padding-left: #{px-to-rem(40px)};
      --wrapper-padding-right: #{px-to-rem(40px)};
    }
  }

  &__logo-link {
    --interactive-outline-offset: #{px-to-rem(-3px)};

    flex-shrink: 0;
    margin-right: auto;
    padding: px-to-rem(15) px-to-rem(15px);
    border-radius: px-to-rem(5px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: opacity, transform;
    transition-duration: transition.$duration-medium;

    @include breakpoint(breakpoint.$header-panel-visibility) {
      padding: px-to-rem(10px) px-to-rem(15px);
    }
  }

  &__logo {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: px-to-rem(70px);
  }

  &__burger-button {
    @extend %button;
    @extend %theme-button;
    @extend %theme-button--primary;

    --button-padding-top: #{px-to-rem(5px)};
    --button-padding-right: #{px-to-rem(5px)};
    --button-padding-bottom: #{px-to-rem(5px)};
    --button-padding-left: #{px-to-rem(5px)};
    --button-width: #{px-to-rem(50px)};
    --button-height: #{px-to-rem(50px)};

    flex-shrink: 0;
    position: relative;

    @include breakpoint(breakpoint.$header-panel-visibility) {
      display: none;
    }

    &.burger-menu-is-active {
      #{$block}__burger-button-trace {
        &--top {
          width: var(--burger-button-trace-width-hover, #{px-to-rem(25px)});
          transform: translate(-50%, -50%) rotateZ(45deg);
        }

        &--middle {
          opacity: 0;
          transform: translate(calc(-50% - #{px-to-rem(10px)}), -50%)
            rotateZ(0deg);
        }

        &--bottom {
          width: var(--burger-button-trace-width-hover, #{px-to-rem(25px)});
          transform: translate(-50%, -50%) rotateZ(-45deg);
        }
      }
    }
  }

  &__burger-button-trace {
    transition-property: width, transform, opacity;
    transition-duration: var(--interactive-transition-duration);
    transition-timing-function: var(--interactive-transition-timing-function);
    width: var(--burger-button-trace-width, #{px-to-rem(20px)});
    height: var(--burger-button-trace-height, #{px-to-rem(3px)});
    border-radius: var(--burger-button-trace-border-radius, #{px-to-rem(3px)});
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    background-color: var(--button-color);

    &--top {
      transform: translate(
          -50%,
          calc(-50% - var(--burger-button-trace-gap, #{px-to-rem(8px)}))
        )
        rotateZ(0deg);
    }

    &--middle {
      --burger-button-trace-width: #{px-to-rem(16px)};

      margin-left: px-to-rem(-2px);
      transform: translate(-50%, -50%) rotateZ(0deg);
    }

    &--bottom {
      transform: translate(
          -50%,
          calc(-50% + var(--burger-button-trace-gap, #{px-to-rem(8px)}))
        )
        rotateZ(0deg);
    }
  }

  &__button-link {
    @extend %button;
    @extend %theme-button;
    @extend %theme-button--primary;
    // @extend %theme-button--with-icon;

    --interactive-outline-offset: #{px-to-rem(-3px)};

    display: none;
    order: 5;

    @include breakpoint(breakpoint.$header-panel-visibility) {
      display: flex;
    }
  }

  &__main-menu-wrapper {
    background-color: color.$white-catskill;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(10%) rotateZ(0deg);
    opacity: 0;
    pointer-events: none;
    border-top: 1px solid color.$white-catskill;
    transition-property: border-radius, transform, opacity;
    transition-duration: transition.$duration-medium;
    transition-timing-function: transition.$timing-function-default;

    @include breakpoint(breakpoint.$header-side-menu) {
      max-width: px-to-rem(450px);
      left: unset;
      right: 0;
    }

    @include breakpoint(breakpoint.$header-panel-visibility) {
      position: static;
      flex-direction: row;
      flex: 1;
      left: 0;
      right: unset;
      justify-content: flex-end;
      height: 100%;
      width: auto;
      transform: none;
      opacity: 1;
      pointer-events: all;
      border-top: none;
      border-radius: 0;
      max-width: unset;
      background-color: transparent;
    }
  }

  &__main-menu-scroller {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: calc(100dvh - var(--site-header-full-height));
    transition-property: border-radius;
    transition-duration: transition.$duration-medium;
    transition-timing-function: transition.$timing-function-default;

    @include breakpoint(breakpoint.$header-panel-visibility) {
      flex-direction: row;
      flex: 1;
      max-height: none;
    }
  }

  &__main-menu-wrapper-bottom-content {
    display: flex;
    padding: px-to-rem(25px) var(--wrapper-padding-horizontal);

    @include breakpoint(breakpoint.$header-panel-visibility) {
      display: none;
    }
  }

  &__main-menu-wrapper-bottom-content-link {
    @extend %button;
    @extend %theme-button;
    @extend %theme-button--primary;

    width: 100%;
    justify-content: center;
    text-align: center;

    @include breakpoint(breakpoint.$header-panel-visibility) {
      width: auto;
      justify-content: flex-start;
      text-align: left;
    }
  }

  &__main-menu {
    padding: px-to-rem(10px) 0;
    overflow: clip;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: color.$white;

    @include breakpoint(breakpoint.$header-panel-visibility) {
      padding-top: 0;
      padding-bottom: 0;
      flex-direction: row;
      flex: 1;
      justify-content: flex-end;
      height: 100%;
      width: auto;
      transform: none;
      border-top: none;
      background-color: transparent;
    }
  }

  &__main-menu-item {
    display: flex;

    &:hover {
      #{$block}__main-menu-item-panel {
        z-index: 4;
      }
    }

    &:focus-within {
      #{$block}__main-menu-item-panel {
        z-index: 3;
      }
    }

    &:hover,
    &:focus-within {
      #{$block}__main-menu-item-panel {
        @include breakpoint(breakpoint.$header-panel-visibility) {
          opacity: 1;
          pointer-events: all;
          transform: rotateZ(0deg);
        }
      }

      #{$block}__main-menu-item-button {
        --button-color: #{color.$grey-bright};
        --button-color-hover: #{color.$blue-endeavour};
        --button-background-color: #{color.$white};
        --button-background-color-hover: #{color.$white};
      }
    }
  }

  &__main-menu-item-panel {
    position: absolute;
    top: 100%;
  }

  &__main-menu-item-link,
  &__main-menu-item-button {
    @extend %button;

    --button-justify-content: space-between;
    --button-font-size: #{px-to-rem(11px)};
    --button-font-weight: #{font.$weight-extra-bold};
    --button-color: #{color.$grey-bright};
    --button-color-hover: #{color.$blue-endeavour};
    --button-background-color: #{color.$white};
    --button-border-width: 0;
    --button-padding-top: #{px-to-rem(15px)};
    --button-padding-right: #{px-to-rem(15px)};
    --button-padding-bottom: #{px-to-rem(15px)};
    --button-padding-left: #{px-to-rem(15px)};
    --button-padding-horizontal: var(--wrapper-padding-horizontal);
    --button-text-transform: uppercase;
    --interactive-outline-offset: #{px-to-rem(-3px)};

    width: 100%;

    @include breakpoint(breakpoint.$header-panel-visibility) {
      --button-padding-horizontal: #{px-to-rem(15px)};
      --button-justify-content: center;

      width: auto;
    }
  }

  &__main-menu-item-link {
    --interactive-outline-offset: #{px-to-rem(-3px)};
  }

  &__main-menu-item-button {
    gap: px-to-rem(5px);
    display: flex;
    align-items: center;
  }
}
